.marquee-container {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.marquee-content {
    display: flex;
    width: fit-content;
    animation: marquee 4s linear infinite;
    white-space: nowrap;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}
